/target/
/.idea/
*.iml
/PathingLegacy/target/
/PathingMain/target/
dependency-reduced-pom.xml
/javadoc/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
